
// util to avoid FOUC
.mcf-resolver
{
    @include transition (opacity .2s ease-out);
    visibility: hidden;
    opacity: 0;

    &.mcf-resolved
    {
        visibility: visible;
        opacity: 1;
    }
}
