

// WRAP SECTIONS
// ==================
.mcf-brandbanner
{
    margin-bottom: $line-height-computed;

    .mcf-brandbanner-img
    {
        max-height: 200px;
        margin-top: $line-height-computed;
        margin-bottom: $line-height-computed;
    }
}

.mcf-body
{
    margin: 7.5rem auto -10rem;
    padding: 0 0 10rem;
    min-height: 100%;
    height: auto;
}

.mcf-tagline {
    background-color: $brand-accent;
    color: $color-gray-lighter;
}

.mcf-navbar-header
{
    padding-bottom: 1rem;
}

.navbar-mcf
{
    padding-top: 0.9rem;
    min-height: 7.5rem;
    background-color: $nav-bg;

    .nav-item
    {
        margin-left: 0.5rem;
        vertical-align: text-bottom;
        font-size: 1.5rem;
    }

    .mcf-navbar-collapse
    {
        border-color: $color-aqua;
        border-top-width: 0.2rem;
        border-bottom-width: 0.5rem;
        border-bottom-style: solid;
    }

    .navbar-brand
    {
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.6rem;

        &.focus,
        &:focus,
        &.hover,
        &:hover
        {
            color: $brand-accent;
        }
    }

    .navbar-toggle
    {
        @include transition-property (background-color);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in-out);
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
        border-color: $color-white;
        border-radius: 50%;

        & > .navbar-toggle-icon
        {
            color: $color-white;
        }

        &.focus,
        &:focus,
        &.hover,
        &:hover,
        &.active,
        &:active
        {
            border-color: darken($color-white, 5%);
            background-color: darken($brand-accent, 5%);
        }
    }

    .mcf-navbar > li > a
    {
        @include transition-property (background-color);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in-out);
        color: $color-white;

        &.focus,
        &:focus,
        &.active,
        &:active,
        &.hover,
        &:hover
        {
            color: $color-white;
            background-color: $brand-accent;
        }

        @media ( min-width: $screen-sm-min ) {
            border-radius: 50%;
        }

    }
}

