
@include keyframes( mcf-fadeIn ) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mcf-fade-in
{
    &.mcf-fade-in-longer
    {
        @include animation-duration( 1s );
    }

    @include animation-name( mcf-fadeIn ); // load the keyframe name
    @include animation-duration( 200ms );
    @include animation-timing-function( $ease-in-back );
    @include animation-fill-mode( forwards );
    opacity: 0;     // init state
}

.svg-clock {
    path {
        @include transition-property (fill);
        @include transition-duration(0.25s);
        @include transition-timing-function(ease-out);
    }
}
