
@import url($url-font-family-header);
@import url($url-font-family-body);

body
{
    color: $body-text-color-base;
	font-family: $font-family-body;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.brand-name
{
	font-weight: 700;
	font-family: $font-family-header;
}

.brand-name
{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
