
/*  TUMBLR SPECIFIC
================== */

/* swatch
#105B63 // Turquiose 	// #0c454b
#FFFAD5 // Cream    	// #E5E1C0
#FFD34E // Egg Cream 	// #E5BE46
#DB9E36 // Egg Yolk 	// #C18C30
#BD4932 // Grapefruit 	// #A33F2B
#FFFFF  //  #F0F0F0  //  #cccccc   // #474747
================ */

.mcf-blog
{
	background-color: #ffffff;
	color: #555;
	font-weight: 400;
	font-size: 14px;

/*  Titles
================== */
h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 35px;
}

/*  Paragraph & Typographic
================== */
p {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 28px;
}

/*  LINKS
================== */
a {
	color: #105B63;
	word-wrap: break-word;
}
a,
a:before,
a:after
{
	@include transition-property( color, background, border );
	@include transition-duration( 0.15s );
	@include transition-timing-function( ease-out );
}
a:hover,
a:focus {
	outline: 0;
	color: #A33F2B;
	text-decoration: none;
}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
}

/*  Color Wraps / Blog Page
================== */
.tumblr-blog-post {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.bg-tumblr-alt {
	background-color: #F0F0F0;
}
.bg-tumblr-odd {
	background-color: #fff;
}

/* Blog Date*/
.tumblr-blog-date {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
}
/* Blog Author*/
.tumblr-blog-author {
	text-transform: uppercase;
	font-size: 1.25rem;
}
/* Blog Quote */
.tumblr-blog-quote {
	padding-top: 30px;
	font-size: 22px;
}
/* Blog Tags */
.tumblr-blog-tags {
	font-size: 1.5rem;
}

// centers the 250px photoset
.tmblr-photoset.visible-xs iframe {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* glyphicon Configuration */
.glyphicon {
	color: #1abc9c;
	font-size: 40px;
}
ol.notes {
	list-style: none;
	letter-spacing: 0.05rem;
	line-height: 3rem;

	li img {
		margin-right: 1rem;
		border-radius: 50%;
	}

	blockquote {
		font-size: 2rem;
		&:before,
		&:after
		{
			margin: 0 0.5rem;
			content : "\"";
			font-size: 2.5rem;
		}
	}
}

}
