

/*  WRAP SECTIONS
================== */
#id-top-header
{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.brand-name
{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.mcf-body
{
    margin: 7.5rem auto -10rem;
    padding: 0 0 10rem;
    min-height: 100%;
    height: auto;
}

.mcf-tagline {
    background-color: $brand-accent;
    color: $color-gray-lighter;
}


.navbar-mcf
{
    padding-top: 0.9rem;
    min-height: 7.5rem;
    background-color: $nav-bg;

    .ion
    {
        font-size: 2rem;
    }

    .nav-item
    {
        margin-left: 0.5rem;
        vertical-align: text-bottom;
        font-size: 1.5rem;
    }

    .navbar-header
    {
        padding-bottom: 1rem;
    }

    .mcf-navbar-collapse
    {
        border-color: $color-aqua;
        border-top-width: 0.2rem;
        border-bottom-width: 0.5rem;
        border-bottom-style: solid;
    }

    .navbar-brand
    {
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.6rem;

        &.focus,
        &:focus,
        &.hover,
        &:hover
        {
            color: $brand-accent;
        }
    }

    .navbar-toggle
    {
        @include transition-property (background-color);
        @include transition-duration(0.25s);
        @include transition-timing-function(ease-out);
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
        border-color: #FFF;
        border-radius: 50%;

        .icon-bar
        {
            width: 18px;
            background-color: #FFF;
        }

        &.focus,
        &:focus,
        &.hover,
        &:hover
        {
            border-color: $brand-accent;
            background-color: #0c454b;

            .icon-bar
            {
                background-color: $brand-accent;
            }
        }

        &.active,
        &:active
        {
            border-color: darken($brand-accent, 5%);
            background-color: darken(#0c454b, 5%);

            .icon-bar
            {
                background-color: darken($brand-accent, 5%);
            }
        }
    }

    .navbar-nav > li > a
    {
        color: #FFF;

        &.active,
        &:active,
        &.hover,
        &:hover
        {
            color: $brand-accent;
        }
    }
}
