
@import url(//fonts.googleapis.com/css?family=Maven+Pro:700);
@import url(//fonts.googleapis.com/css?family=Montserrat:400);

body
{
    color: $body-text-color-base;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.brand-name
{
	font-weight: 700;
	font-family: 'Maven Pro', sans-serif;
}

