
svg
{
	width: 100%;
	height: 100%;
	display: block;
	shape-rendering: geometricPrecision;
}

// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
    width: device-width;
}
