.no-js-message {
    display: none;
}

.no-js {
    .mcf-resolver {
        visibility: visible;
        opacity: 1;
    }

    .tumblr-blog-post {
        display: none !important;
    }
    .no-js-message {
        display: block;
    }
}
