.no-js
{
    // unstick the mcf-navbar
    .navbar-mcf {
        position: relative !important;
    }

	.tumblr-blog-post
	{
		display : none !important;
	}

	.no-js-message
	{
		display: block !important;
		visibility: visible !important;
	}
}
