.lt-ie10
{
    // unstick the mcf-navbar
    .navbar-mcf {
        position: relative !important;
    }

    .old-ie-message
    {
        display: block !important;
        visibility: visible !important;
    }
}
