.btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #afb6bb !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #bdc3c7, #bdc3c7 5%, #afb6bb);
  background: linear-gradient( #bdc3c7, #bdc3c7 5%, #afb6bb);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  .btn:hover, .btn:focus {
    background-color: #bdc3c7;
    background: -webkit-linear-gradient( #bdc3c7, #bdc3c7);
    background: linear-gradient( #bdc3c7, #bdc3c7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #a1aab0 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  .btn:active {
    background-color: #a1aab0;
    background: -webkit-linear-gradient( #a1aab0, #a1aab0);
    background: linear-gradient( #a1aab0, #a1aab0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #99a2a9 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }

a.btn-primary,
button.btn-primary,
input[type="submit"].btn-primary {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #1861f0 !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #3071f2, #3071f2 5%, #1861f0);
  background: linear-gradient( #3071f2, #3071f2 5%, #1861f0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-primary:hover, a.btn-primary:focus,
  button.btn-primary:hover,
  button.btn-primary:focus,
  input[type="submit"].btn-primary:hover,
  input[type="submit"].btn-primary:focus {
    background-color: #3071f2;
    background: -webkit-linear-gradient( #3071f2, #3071f2);
    background: linear-gradient( #3071f2, #3071f2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #0e55e1 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-primary:active,
  button.btn-primary:active,
  input[type="submit"].btn-primary:active {
    background-color: #0e55e1;
    background: -webkit-linear-gradient( #0e55e1, #0e55e1);
    background: linear-gradient( #0e55e1, #0e55e1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #0d4fd2 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-secondary,
button.btn-secondary,
input[type="submit"].btn-secondary {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #dde4e6 !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #ecf0f1, #ecf0f1 5%, #dde4e6);
  background: linear-gradient( #ecf0f1, #ecf0f1 5%, #dde4e6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25); }
  a.btn-secondary:hover, a.btn-secondary:focus,
  button.btn-secondary:hover,
  button.btn-secondary:focus,
  input[type="submit"].btn-secondary:hover,
  input[type="submit"].btn-secondary:focus {
    background-color: #ecf0f1;
    background: -webkit-linear-gradient( #ecf0f1, #ecf0f1);
    background: linear-gradient( #ecf0f1, #ecf0f1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #cfd9db !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-secondary:active,
  button.btn-secondary:active,
  input[type="submit"].btn-secondary:active {
    background-color: #cfd9db;
    background: -webkit-linear-gradient( #cfd9db, #cfd9db);
    background: linear-gradient( #cfd9db, #cfd9db);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #c6d2d5 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-success,
button.btn-success,
input[type="submit"].btn-success {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #59c10f !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #64d911, #64d911 5%, #59c10f);
  background: linear-gradient( #64d911, #64d911 5%, #59c10f);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-success:hover, a.btn-success:focus,
  button.btn-success:hover,
  button.btn-success:focus,
  input[type="submit"].btn-success:hover,
  input[type="submit"].btn-success:focus {
    background-color: #64d911;
    background: -webkit-linear-gradient( #64d911, #64d911);
    background: linear-gradient( #64d911, #64d911);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #4eaa0d !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-success:active,
  button.btn-success:active,
  input[type="submit"].btn-success:active {
    background-color: #4eaa0d;
    background: -webkit-linear-gradient( #4eaa0d, #4eaa0d);
    background: linear-gradient( #4eaa0d, #4eaa0d);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #489c0c !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-alert,
button.btn-alert,
input[type="submit"].btn-alert {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #e43725 !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #e74c3c, #e74c3c 5%, #e43725);
  background: linear-gradient( #e74c3c, #e74c3c 5%, #e43725);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-alert:hover, a.btn-alert:focus,
  button.btn-alert:hover,
  button.btn-alert:focus,
  input[type="submit"].btn-alert:hover,
  input[type="submit"].btn-alert:focus {
    background-color: #e74c3c;
    background: -webkit-linear-gradient( #e74c3c, #e74c3c);
    background: linear-gradient( #e74c3c, #e74c3c);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #d62c1a !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-alert:active,
  button.btn-alert:active,
  input[type="submit"].btn-alert:active {
    background-color: #d62c1a;
    background: -webkit-linear-gradient( #d62c1a, #d62c1a);
    background: linear-gradient( #d62c1a, #d62c1a);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #c82919 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-info,
button.btn-info,
input[type="submit"].btn-info {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #82d1ef !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #99d9f2, #99d9f2 5%, #82d1ef);
  background: linear-gradient( #99d9f2, #99d9f2 5%, #82d1ef);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-info:hover, a.btn-info:focus,
  button.btn-info:hover,
  button.btn-info:focus,
  input[type="submit"].btn-info:hover,
  input[type="submit"].btn-info:focus {
    background-color: #99d9f2;
    background: -webkit-linear-gradient( #99d9f2, #99d9f2);
    background: linear-gradient( #99d9f2, #99d9f2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #6cc8ec !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-info:active,
  button.btn-info:active,
  input[type="submit"].btn-info:active {
    background-color: #6cc8ec;
    background: -webkit-linear-gradient( #6cc8ec, #6cc8ec);
    background: linear-gradient( #6cc8ec, #6cc8ec);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #5ec3eb !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-warning,
button.btn-warning,
input[type="submit"].btn-warning {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #dc930c !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #f2a30f, #f2a30f 5%, #dc930c);
  background: linear-gradient( #f2a30f, #f2a30f 5%, #dc930c);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-warning:hover, a.btn-warning:focus,
  button.btn-warning:hover,
  button.btn-warning:focus,
  input[type="submit"].btn-warning:hover,
  input[type="submit"].btn-warning:focus {
    background-color: #f2a30f;
    background: -webkit-linear-gradient( #f2a30f, #f2a30f);
    background: linear-gradient( #f2a30f, #f2a30f);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #c3830b !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-warning:active,
  button.btn-warning:active,
  input[type="submit"].btn-warning:active {
    background-color: #c3830b;
    background: -webkit-linear-gradient( #c3830b, #c3830b);
    background: linear-gradient( #c3830b, #c3830b);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #b5790a !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-danger,
button.btn-danger,
input[type="submit"].btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #f0256f !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #f23d7f, #f23d7f 5%, #f0256f);
  background: linear-gradient( #f23d7f, #f23d7f 5%, #f0256f);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-danger:hover, a.btn-danger:focus,
  button.btn-danger:hover,
  button.btn-danger:focus,
  input[type="submit"].btn-danger:hover,
  input[type="submit"].btn-danger:focus {
    background-color: #f23d7f;
    background: -webkit-linear-gradient( #f23d7f, #f23d7f);
    background: linear-gradient( #f23d7f, #f23d7f);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #ec1060 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-danger:active,
  button.btn-danger:active,
  input[type="submit"].btn-danger:active {
    background-color: #ec1060;
    background: -webkit-linear-gradient( #ec1060, #ec1060);
    background: linear-gradient( #ec1060, #ec1060);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #de0f5a !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-highlight,
button.btn-highlight,
input[type="submit"].btn-highlight {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #8c4bab !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #9859b6, #9859b6 5%, #8c4bab);
  background: linear-gradient( #9859b6, #9859b6 5%, #8c4bab);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-highlight:hover, a.btn-highlight:focus,
  button.btn-highlight:hover,
  button.btn-highlight:focus,
  input[type="submit"].btn-highlight:hover,
  input[type="submit"].btn-highlight:focus {
    background-color: #9859b6;
    background: -webkit-linear-gradient( #9859b6, #9859b6);
    background: linear-gradient( #9859b6, #9859b6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #7d4399 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-highlight:active,
  button.btn-highlight:active,
  input[type="submit"].btn-highlight:active {
    background-color: #7d4399;
    background: -webkit-linear-gradient( #7d4399, #7d4399);
    background: linear-gradient( #7d4399, #7d4399);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #743f8e !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.btn-inverse,
button.btn-inverse,
input[type="submit"].btn-inverse {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #2b3c4e !important;
  border-width: 2px;
  background: -webkit-linear-gradient( #34495e, #34495e 5%, #2b3c4e);
  background: linear-gradient( #34495e, #34495e 5%, #2b3c4e);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset; }
  a.btn-inverse:hover, a.btn-inverse:focus,
  button.btn-inverse:hover,
  button.btn-inverse:focus,
  input[type="submit"].btn-inverse:hover,
  input[type="submit"].btn-inverse:focus {
    background-color: #34495e;
    background: -webkit-linear-gradient( #34495e, #34495e);
    background: linear-gradient( #34495e, #34495e);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #222f3d !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
  a.btn-inverse:active,
  button.btn-inverse:active,
  input[type="submit"].btn-inverse:active {
    background-color: #222f3d;
    background: -webkit-linear-gradient( #222f3d, #222f3d);
    background: linear-gradient( #222f3d, #222f3d);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #1c2833 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
a.disabled, a[disabled],
button.disabled,
button[disabled],
input[type="submit"].disabled,
input[type="submit"][disabled] {
  cursor: default;
  border: none;
  text-shadow: none;
  box-shadow: none;
  background: #e3e9eb;
  color: #bdc3c7; }
  a.disabled:hover, a.disabled:focus, a.disabled:active, a[disabled]:hover, a[disabled]:focus, a[disabled]:active,
  button.disabled:hover,
  button.disabled:focus,
  button.disabled:active,
  button[disabled]:hover,
  button[disabled]:focus,
  button[disabled]:active,
  input[type="submit"].disabled:hover,
  input[type="submit"].disabled:focus,
  input[type="submit"].disabled:active,
  input[type="submit"][disabled]:hover,
  input[type="submit"][disabled]:focus,
  input[type="submit"][disabled]:active {
    -webkit-transition: 0;
    -moz-transition: 0;
    transition: 0;
    background: #e3e9eb;
    text-shadow: none;
    box-shadow: none; }
