
@font-face {
    font-style: normal;
    font-family: 'tumblr-icons';
    src: url('//tumblr.com/fonts/tumblr-icons/tumblr-icons-v11.eot?5b96988ce3c25be65ad0cb9cc6080eb6');
    src: url('//tumblr.com/fonts/tumblr-icons/tumblr-icons-v11.eot?#iefix') format('embedded-opentype'), url('//tumblr.com/fonts/tumblr-icons/tumblr-icons-v11.ttf?fed4f3c6d59060cb1e676db031c06b71') format('truetype'), url('//tumblr.com/fonts/tumblr-icons/tumblr-icons-v11.woff?57c9a09f045e502a8f11cfc7b30aef1a') format('woff'), url('//tumblr.com/fonts/tumblr-icons/tumblr-icons-v11.svg#tumblr-icons') format('svg');
    font-weight: normal;
}

[class^="icon_"], [class*=" icon_"] {
    position: relative;
    top: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'tumblr-icons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_post_video_small:before {
    content: "\e622";
}

.icon_reply:before {
    content: "\e601";
}

.icon_post_text_small:before {
    content: "\e62d";
}

.icon_post_quote_small:before {
    content: "\e62e";
}

.icon_reblog:before {
    content: "\e602";
}

.icon_post_photo_small:before {
    content: "\e62f";
}

.icon_queue:before {
    content: "\e603";
}

.icon_post_link_small:before {
    content: "\e630";
}

.icon_processing:before {
    content: "\e604";
}

.icon_post_chat_small:before {
    content: "\e631";
}

.icon_posts:before {
    content: "\e605";
}

.icon_plus:before {
    content: "\e606";
}

.icon_post_audio_small:before {
    content: "\e632";
}

.icon_arrow_filled_down:before {
    content: "\e607";
}

.icon_arrow_carrot_up:before {
    content: "\e608";
}

.icon_arrow_carrot_right:before {
    content: "\e609";
}

.icon_arrow_carrot_left:before {
    content: "\e60a";
}

.icon_arrow_carrot_down:before {
    content: "\e60b";
}

.icon_analytics:before {
    content: "\e60c";
}

.icon_person:before {
    content: "\e60d";
}

.icon_person_plus:before {
    content: "\e60e";
}

.icon_followers:before {
    content: "\e60f";
}

.icon_mention:before {
    content: "\e610";
}

.icon_members:before {
    content: "\e611";
}

.icon_mail:before {
    content: "\e612";
}

.icon_lock:before {
    content: "\e613";
}

.icon_like:before {
    content: "\e614";
}

.icon_help:before {
    content: "\e615";
}

.icon_following:before {
    content: "\e616";
}

.icon_explore_tumblr:before {
    content: "\e618";
}

.icon_drafts:before {
    content: "\e619";
}

.icon_customize:before {
    content: "\e61a";
}

.icon_checkmark:before {
    content: "\e61b";
}

.icon_arrow_filled_up:before {
    content: "\e61c";
}

.icon_arrow_filled_right:before {
    content: "\e61d";
}

.icon_arrow_filled_left:before {
    content: "\e61e";
}

.icon_activity:before {
    content: "\e61f";
}

.icon_search:before {
    content: "\e617";
}

.icon_close:before {
    content: "\e627";
}

.icon_arrow_thin_left:before {
    content: "\e628";
}

.icon_grip_dots:before {
    content: "\e629";
}

.icon_arrow_thin_down:before {
    content: "\e62a";
}

.icon_arrow_thin_right:before {
    content: "\e62b";
}

.icon_arrow_thin_up:before {
    content: "\e62c";
}

.icon_diamond:before {
    content: "\e637";
}

.icon_globe:before {
    content: "\e638";
}

.icon_star:before {
    content: "\e636";
}

.icon_queue_small:before {
    content: "\e639";
}

.icon_user_settings:before {
    content: "\e63d";
}

.icon_grip_vertical:before {
    content: "\e63c";
}

.icon_edit_pencil:before {
    content: "\e63e";
}

.icon_arrow_carrot_thin_right:before {
    content: "\e63b";
}

.icon_arrow_carrot_thin_left:before {
    content: "\e63a";
}

.icon_apple:before {
    content: "\e640";
}

.icon_android:before {
    content: "\e641";
}

.icon_windows:before {
    content: "\e63f";
}

.icon_settings:before {
    content: "\e600";
}

.icon_remove:before {
    content: "\e646";
}

.icon_photo_plus:before {
    content: "\e645";
}

.icon_export:before {
    content: "\e647";
}

.icon_post_quote:before {
    content: "\e633";
}

.icon_post_video:before {
    content: "\e620";
}

.icon_post_text:before {
    content: "\e621";
}

.icon_post_photo:before {
    content: "\e623";
}

.icon_post_link:before {
    content: "\e624";
}

.icon_post_chat:before {
    content: "\e625";
}

.icon_post_audio:before {
    content: "\e626";
}

.icon_view_grid:before {
    content: "\e634";
}

.icon_view_list:before {
    content: "\e635";
}

.icon_members_12:before {
    content: "\e642";
}

.icon_star_12:before {
    content: "\e643";
}

.icon_lock_12:before {
    content: "\e644";
}

