
html,
body
{
    height: 100%;
}

/*  WRAP SECTIONS
================== */
#id-top-header
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #FFFAD5;

    h1
    {
        text-transform: uppercase;
        font-size: 2.1rem;
    }
}

#id-top-header h1,
.navbar-mcf .navbar-brand
{
    letter-spacing: 0.2rem;
}


.mcf-body
{
    margin: 7.5rem auto -10rem;
    padding: 0 0 10rem;
    min-height: 100%;
    height: auto;
}

#foot-clan
{
    padding-top: 4rem;
    padding-bottom: 2rem;
    min-height: 10rem;
    background-color: #DB9E36;

    p
    {
        color: #fff;
    }

    h4
    {
        padding-bottom: 3rem;
        color: #fff;
        text-transform: uppercase;
    }
}

.navbar-mcf
{
    padding-top: 1rem;
    min-height: 7.5rem;
    background-color: #105B63;

    .ion
    {
        font-size: 2rem;
    }

    .nav-item
    {
        margin-left: 0.5rem;
        vertical-align: text-bottom;
        font-size: 1.5rem;
    }

    .navbar-header
    {
        padding-bottom: 1rem;
    }

    .navbar-brand
    {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.6rem;

        &.hover,
        &:hover,
        &:focus
        {
            color: #FFFAD5;
        }
    }

    .navbar-collapse,
    .navbar-form
    {
        border-color: #16a085;
        border-top-width: 0.2rem;
        border-bottom-width: 0.5rem;
        border-bottom-style: solid;
    }

    .navbar-toggle
    {
        .icon-bar
        {
            background-color: #fff;
        }
        &:focus .icon-bar,
        &:hover .icon-bar
        {
            background-color: #FFFAD5;
        }
    }

    .navbar-nav > li > a
    {
        color: #fff;

        &.active,
        &:active,
        &.hover,
        &:hover
        {
            color: #FFD34E;
        }
    }

    .navbar-toggle
    {
        border-color: transparent;

        &:focus,
        &:hover
        {
            background-color: #0c454b;
        }
    }
}