
// BRAND PALETTE
// ==================

$brand-body-text:       $color-black;

$brand-accent:       $color-salmon;

$nav-bg:       rgba($color-gray-darker, 0.95);
$nav-accent:       rgba($brand-accent, 0.9);

$brand-color-1: $color-salmon;
$brand-color-2: $color-pink;
$brand-color-3: $color-olive;
$brand-color-4: $color-aqua;
$brand-color-5: $color-seafoam;
