
/*  COLOR PALETTE
================== */

$color-black:  #2e2e2e;

$color-white:  #FFF;


// color palette
$color-salmon   : #E77084;
$color-pink     : #F2274C;
$color-olive    : #13363B;
$color-aqua     : #267B6C;
$color-seafoam  : #BACDB0;

// greys
$color-gray-base:              #000 !default;
$color-gray-darker:            lighten($color-gray-base, 13.5%) !default; // #222
$color-gray-dark:              lighten($color-gray-base, 20%) !default;   // #333
$color-gray:                   lighten($color-gray-base, 33.5%) !default; // #555
$color-gray-light:             lighten($color-gray-base, 46.7%) !default; // #777
$color-gray-lighter:           lighten($color-gray-base, 93.5%) !default; // #eee
